.list-group {
    padding-bottom: 0.75rem;
}

.ratings {
    text-align: center;
}

.sidebar .subjects {
    max-height: 400px;
    overflow-x: hidden!important;
}

.sidebar .list-group {
    padding-bottom: 0;
    border-radius: 0;
}

.filter {
    margin-bottom: 0.75rem;
}

.filter input {
    display: none;
}

.filter button {
    all: initial;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.filter .reset-button {
    color: #007bff!important;
    cursor: pointer;
}

.filter .reset-button:hover {
    text-decoration: underline;
}

.filter .reset-button:active {
    text-decoration: underline;
}

span.badge {
    margin-right: 0.25em;
    font-size:12px;
}

span.badge button {
    margin-left: 0.5em;
    cursor: pointer;
}

.sorting {
    margin-bottom: 0.5em;
}

.sorting .align-right {
    float: right;
}

.sorting .index {
    margin-right: 0.5em;
}

