.ratings {
    text-align: center;
}

.book-image img {
    width: 100%;
}

.card-body span {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .book-image {
        text-align: center;
    }
    
    .book-image img {
        width: 50%;
    }
}