.ratings {
    text-align: center;
}

.book-image img {
    width: 100%;

}

@media (max-width: 768px) {
    .book-image {
        text-align: center;
    }
    
    .book-image img {
        width: 50%;
    }
}