.jumbotron-heading {
    font-size: 5rem;
}

.registration-hero {
    background-color: #1867a5;
    color: #ffffff;
}

.carousel {
    height: 300px;
}

.carousel-control-next-icon {
    filter:invert(1);
}

.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}

.carousel-inner {
    width: 80%;
    margin: 0 auto;
}