<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/book.css">

    <title>Virtual Library</title>
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <main>
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-3 book-image">
                    <img th:src="${book.thumbnail}">
                    <div class="ratings">
                        <i th:each="star : ${#numbers.sequence(1,5)}"
                        th:classappend="(${star <= rating} ? 'fa-solid fa-star rating-color' : 'fa-regular fa-star')"></i>
                    </div>
                </div>
                <div class="col">
                    <h2 th:text="${book.title}"> Book Title </h2>
                    <h6 th:text="${book.author}" class="font-weight-bold"> Book Author </h6>
                    <p th:text="${book.categories}"> Genre </p>
                    <p th:text="${#strings.isEmpty(book.description) ? 'No description available.': book.description }"> Description </p>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title" th:classappend="${available > 0 ? 'text-success' : 'text-danger'}" th:text="${available > 0 ? 'Available' : 'All copies in use'}">Card title</h5>
                            <span th:inline="text">[[${copies} + ' copies']]</span>
                            <span th:inline="text">[[${available} + ' available']]</span>
                        </div>
                        <div class="card-body">
                            <a th:href="'/books/' + ${book.isbn} + '/hold'" class="btn btn-primary">Place hold</a>
                            <a href="#" class="btn btn-secondary">Save for later</a>
                        </div>
                      </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <h2> About </h2>
                <div class="col-12 col-md-3"></div>
                <div class="col">
                    <div class="container">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Pages:</th>
                                    <td th:text="${book.num_pages}"></td>
                                </tr>                                
                                <tr>
                                    <th scope="row">Authors:</th>
                                    <td th:text="${book.author}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Published Year:</th>
                                    <td th:text="${book.published_year}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Categories:</th>
                                    <td th:text="${book.categories}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">ISBN:</th>
                                    <td th:text="${book.isbn}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Average Rating:</th>
                                    <td th:text="${book.average_rating}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Ratings Count:</th>
                                    <td th:text="${book.ratings_count}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-3"></div>
            </div>
            <hr/>
            <div class="row">
                <h2> Readers also Enjoyed </h2>
                <!-- TODO Recommendor System in Batch Job. -->
            </div>                   
        </div>     
    </main>
  </body>

</html>