<div th:fragment="navbar">
        <header class="bg-primary">
            <div class="container">
                <nav class="navbar navbar-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                    <a class="navbar-brand col-md-3 mb-2 mb-md-0" href="/">Virtual Library</a>
                    <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <form class="input-group" role="search" action="/api/books/title" method="get" id="search"> 
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" th:value="${bookTitle}">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="submit" value="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="col-md-3 text-end">
                        <a class="btn btn-light" href="/login" sec:authorize="!isFullyAuthenticated()">Login</a>
                        <a class="btn btn-light" href="/logout" sec:authorize="isFullyAuthenticated()">Logout</a>
                        <a class="btn btn-light checkout-button" href="/checkout" sec:authorize="!isFullyAuthenticated()">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </nav> 
            </div> 
        </header>
</div>

<div th:fragment="book-carousel (name, dataOne, dataTwo, dataThree, id)">
    <h2 th:text="${name}">Carousel Header</h2>
    <div th:attr="id=${id}" id="${id}" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" th:attr="data-bs-target='#' + ${id}"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" th:attr="data-bs-target='#' + ${id}"  data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" th:attr="data-bs-target='#' + ${id}"  data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row py-3">
                <div class="col" th:each="element: ${dataOne}">
                  <a class="card shadow-sm" th:attr="href='/api/books/' + ${element.isbn}">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" th:src="${element.thumbnail}"></img>
                  </a>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="row py-3">
                <div class="col" th:each="element: ${dataTwo}">
                  <a class="card shadow-sm" th:attr="href='/api/books/' + ${element.isbn}">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" th:src="${element.thumbnail}"></img>
                  </a>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="row py-3">
                <div class="col" th:each="element: ${dataThree}">
                  <a class="card shadow-sm" th:attr="href='/api/books/' + ${element.isbn}" >
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" th:src="${element.thumbnail}"></img>
                  </a>
                </div>
              </div>
          </div>                
        </div>
        <button class="carousel-control-prev" type="button" th:attr="data-bs-target='#' + ${id}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" th:attr="data-bs-target='#' + ${id}"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>    
</div>