<div th:fragment="navbar">
        <header class="bg-primary">
            <div class="container">
                <nav class="navbar navbar-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                    <a class="navbar-brand col-md-3 mb-2 mb-md-0" href="/">Virtual Library</a>
                    <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <form class="input-group" role="search" action="/title/{bookTitle}" method="get" id="search"> 
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="submit" value="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="col-md-3 text-end">
                        <a class="btn btn-light" href="/login" sec:authorize="!isFullyAuthenticated()">Login</a>
                        <a class="btn btn-light" href="/logout" sec:authorize="isFullyAuthenticated()">Logout</a>
                        <a href="/checkout" sec:authorize="!isFullyAuthenticated()">
                            <i class="fa-solid fa-cart-shopping whiteiconcolor"></i>
                        </a>
                    </div>
                </nav> 
            </div> 
        </header>
</div>